<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="">
	<link rel="icon" href="../../../../favicon.ico">

	<title>Starter Template for Bootstrap</title>

	<!-- Bootstrap core CSS -->
	<link href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet">

	<!-- Custom styles for this template -->
	<link href="starter-template.css" th:href="@{/css/starter-template.css}" rel="stylesheet">
</head>

<body>


	<div th:replace="~{block/header::headerA}"></div>
	<main role="main" class="container">

		<div class="starter-template">
			<h1 th:text="${title}">Bootstrap starter template</h1>
		</div>


		<div th:unless="${#strings.isEmpty(complete)}">
			<div th:text="${complete}" class="alert alert-success" role="alert">
				A simple success alert?check it out!
			</div>
		</div>

		<form method="post" action="#" th:action="@{/survey/confirm}" th:object="${surveyForm}">
			<div class="form-group">
				<label for="age">Age</label>
				<input type="number" name="age" class="form-control" id="age" th:value="*{age}" required>
			</div>
			<div class="text-danger mb-4" th:if="${#fields.hasErrors('age')}" th:errors="*{age}"></div>

			<div class="form-group">
				<label for="satisfaction">Satisfaction</label>

				<div class="form-inline">
					<label class="radio-inline mx-2"><input type="radio" th:value="1" th:field="*{satisfaction}"
							name="satisfaction" id="satisfaction1">1</label>
					<label class="radio-inline mx-2"><input type="radio" th:value="2" th:field="*{satisfaction}"
							name="satisfaction" id="satisfaction2">2</label>
					<label class="radio-inline mx-2"><input type="radio" th:value="3" th:field="*{satisfaction}"
							name="satisfaction" id="satisfaction3">3</label>
					<label class="radio-inline mx-2"><input type="radio" th:value="4" th:field="*{satisfaction}"
							name="satisfaction" id="satisfaction4">4</label>
					<label class="radio-inline mx-2"><input type="radio" th:value="5" th:field="*{satisfaction}"
							name="satisfaction" id="satisfaction5">5</label>
				</div>

			</div>

			<div class="text-danger mb-4" th:if="${#fields.hasErrors('satisfaction')}" th:errors="*{satisfaction}">
			</div>

			<div class="form-group">
				<label for="comment">Comment</label>
				<textarea name="comment" class="form-control" id="comment" rows="3" th:field="*{comment}"></textarea>
			</div>
			<div class="text-danger mb-4" th:if="${#fields.hasErrors('comment')}" th:errors="*{comment}"></div>
			<button type="submit" class="btn btn-primary">Confirm</button>
		</form>
	</main><!-- /.container -->

	<!-- Bootstrap core JavaScript
    ================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous"></script>
	<script>window.jQuery || document.write('<script src="@{/js/jquery-slim.min.js}"><\/script>')</script>
	<script src="../../assets/js/vendor/popper.min.js" th:src="@{/js/popper.min.js}"></script>
	<script src="../../dist/js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
</body>